<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="css/style.css" rel="stylesheet">
        <title>Mercado Liebre</title>
    </head>
    <body class="">
        <header>
            <div class="top-header">
                <a href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="350 px"></a>
                <!-- <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p> -->

                <div class= "buscador">
                    <input class="input" type="text" name="buscador" placeholder="Buscar productos" >
                    <button class="lupa" type="submit"><i class="fa fa-search"></i></button>

                </div>

            </div>

            <nav>
                <ul>
                    <li>
                        <a href="a">Ofertas</a>
                    </li>
                    <li>
                        <a href="a">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="a">Vender</a>
                    </li>
                    <li>
                        <a href="a">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/register">Crea tu cuenta</a>
                    </li>
                    <li>
                        <a href="/login">Ingresa</a>
                    </li>
                    <li>
                        <a href="a">Mis compras</a>
                    </li>
                </ul>
            </nav>
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>

        </header>
        <main>
            <form class="login">
                <div>
                    <input class="controls" type="text" name="usuario" placeholder="Nombre de usuario">
                </div>
                <div>
                    <input class="controls" type="email" name="email" placeholder="E-mail">
                </div>
                <div>
                    <button class="botonEnviar" type="submit">Enviar</button>
                </div
            </form>

        </main>
        <footer>
            <div class="articleFooter">
                <div class="iconos">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h3>Paga con tarjeta o en efectivo</h3>
                    <p>Con mercadoLiebreCash tenes cuotas sin</p>
                    <p>interes con tarjeta o en efectivo con puntos de</p>
                    <p>pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="articleFooter">
                <div class="iconos">
                    <i class="fas fa-gift"></i>
                </div>
                <h3>Envio gratis desde los $2.500</h3>
                  <p>Solo por estar registrado en Mercado Liebre</p>
                  <p>tenes envios gratis en miles de productos</p>
                  <p>Es un beneficio de mercado puntos.</p>
            </div>
            <div class="articleFooter">
                <div class="iconos">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h3>Paga con tarjeta o en efectivo</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
                    <p>no hay nada que no puedas hacer porque</p>
                    <p>estas siempre protegido</p>
            </div>
        </footer>
    </body>
</html>